name = "Game Title"
prd = "./PRD.md"

[game]
tags = ["godot", "fps", "cpp"]
screenshots = ["./screenshots/screen-01.png"]
videos = ["https://www.internalfb.com/intern/px/p/bd8gT"]  # upload to bunnylol px, link here
teaser = "https://www.internalfb.com/intern/px/p/bd8gT"  # 7 sec highlight video, px link

[binaries]
osx = "./binaries/game.app"
windows = "./binaries/game.exe"
