name = "Game Title"
prd = "./PRD.md"

[game]
tags = ["godot", "fps", "cpp"]
screenshots = ["./screenshots/screen-01.png"]
videos = ["./videos/video-01.mp4"]
teaser = "./videos/teaser.mp4"  # 7 sec highlight video

[binaries]
osx = "./binaries/game.app"
windows = "./binaries/game.exe"
